body {
	color: rgba(0, 0, 0, 0.6);
	margin: 8px;
	font-size: 12px;
}			

.panel h3 {				
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	color: rgba(0, 0, 0, 0.8);
	font-size: 20px;
}		

.panel .fa-search {
	font-size: 90%;
	float: right;
	color: rgba(0, 0, 0, 0.6);
}	

.category {				
	border: 1px rgba(0, 0, 0, 0.2) solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: 3px;
	margin-bottom: 5px;
	display: inline-block;				
}

.category:hover {
	border: 1px #333 solid;
	color: #333;
	cursor: pointer;
}

.clear {
	clear: both;
}

.person {
   /*background: url(img/person.jpg) center center;*/
   /*background-size: cover;*/
   border-radius: 500px;
   height: 50px;
   margin: auto;
   margin-top: 5px;
   width: 50px;   
}

.panel .person {
	margin: none;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 5px;
}

